$blue: #f16311;
$body-color: #414141;

$font-family-sans-serief: rubik, system-ui, Roboto, "Helvetica Neue", "Noto sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Note Color Emoji";

$heading-font-weight: 700;